.table {
    margin: 0 auto;
    width: 100vw;
    max-width: 1200px;

    &__messageWrap {
        margin: 0 auto;
        width: 100vw;
        max-width: 1200px;
        padding-left: 0.8rem;
    }

    &__message {
        font-size: 2rem;
        margin-top: 2rem;
    }

    &__caption {
        margin: 2rem 0.7rem;
        font-size: 3rem;
        font-weight: bold;
        text-align: left;
    }

    &__head,
    &__body,
    &__foot {
        text-align: left;
    }

    &__title {
        font-size: 1.5rem;
        padding: 1rem 0.7rem;
        transition: 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            // background: #cdec85;
        }
        &WithoutHover {
            &:hover {
                cursor: default;
                background: none;
            }
        }
    }

    &__info {
        padding: 0.7rem;
        font-weight: normal;
    }

    &__user {
        transition: 0.2s ease-in-out;

        &:hover {
            background: #cdec85;
            cursor: pointer;
        }
    }

    &__totalAmount {
        font-size: 1.5rem;
        padding: 0.7rem;
    }
}
.resize {
    resize: horizontal;
    overflow: auto;
    min-width: 50px;
    margin: 0;
    padding: 0.3rem;
    display: block;
    border-right: 1px solid black;
}
th .resize {
    bottom: 0;
    width: auto;
    height: auto;
    min-height: 20px;
    min-width: 20px;
}