.home {
    margin: 0 auto;
    width: 100vw;
    max-width: 1200px;
    &__rules {
        background: #fdfdfd;
        padding: 0.8rem;
        width: fit-content;
        margin-bottom: 2rem;
        border-radius: 10px;
        font-size: 1.2rem;
    }
    &__ruleText {
        &:not(:last-child) {
            margin-bottom: 0.3rem;
        }
    }
}